---
layout: default
title: Grid Style Sheets
style: |
  .hero-unit {
    background-color: transparent;
    text-align: center;
  }
---
<div class="container">
  {% include header.html %}
  <div class="hero-unit">
    <h1>Grid Style Sheets</h1>
    <p class="lead">Constraint-driven styling for the web</p>
    <a href="/browser/gss.js" class="btn btn-success btn-large">GSS Runtime</a>
    <a href="/browser/gss-solver.min.js" class="btn btn-success btn-large">GSS Web Worker</a>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead">
        <strong>GSS</strong> compiles and runs Grid Style Sheet rules. GSS is an implementation of Badros &amp; Borning's <a href="http://www.cs.washington.edu/research/constraints/web/ccss-uwtr.pdf">Constraint Cascading Style Sheets</a>, enabling far better layout control through building relational rules between different elements.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h2>Demos</h2>
      <ul class="nav nav-list">
        {% for post in site.categories['demo'] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="span6">
      <h2>Documentation</h2>
      <ul class="nav nav-list">
        {% for post in site.categories['docs'] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include footer.html %}
</div>
